button {
  border: none;
  border-radius: 10px;
  color: rgb(38, 25, 25);
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
  position: relative;
  left: 20px;
}

button:hover {
  background-color: #eee;
}

button:active {
  background-color: #333;
  color: #fff !important; 
}

.selectedCategory {
  background-color: #333;
  color: #fff !important; 
}