.Product {
  /* border: .5px black solid; */
  color: black;
  font-size: 20px;
  width: 400px;
  height: 300px;
  position: relative; 
  top: 100px;
  left: 20px;
  /* padding-bottom: 100px; */
}

.productWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  /* background-color: red; */
}

.Product > h1 {
  background-color: rgb(14, 8, 8);
  color: rgb(255, 253, 253);
  padding: 20px;
  margin: 0;
}

.Product > h3 {
  font-size: 30px;
  position: relative;
  top: -99px;
  left: 60px;
}

.Product > p {
  font-size: 22px;
  color :rgb(16, 9, 9);
  padding-bottom: 100px;
  position: relative;
  left: 10px;
}
